body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'heebo', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: justify;

  }

a#name{
    color:black;
    padding-top: 50px;
    font-size: 50px;
    line-height: 25px;  
    min-width: 100%;
    font-family: 'League Script', cursive;
    font-weight: 300;
    text-transform: lowercase;
    /* letter-spacing: 2px; */
}

a.topLinks{
   
}

nav{
    min-height: 12vh;
}

main {
    flex: 1 0 auto;
  }

.first{
    margin-top: 40px;
}
.statement{
    margin-top: 10px;
}
#letsSee{
    background-color:black;
}
#projectsHeader{
    /* background-color: black;
    color: white; */
    font-family: 'League Script', cursive;
    color: #168C80;
   
}

.card-title{
    font-size: 10px;
}
.cardText{
    font-size: 15px;
}
.linkToPlay{
    color: #D88843;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}
#gitHub, #linkedIn, #email{
    padding: 0px 10px;
}
#email{
    color: 
}
footer.page-footer{
   
}
footer{
    min-height: 10vh;
   
}

