body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'quicksand', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: justify;

  }

a#name{
    color:black;
    padding-top: 50px;
    font-size: 50px;
    line-height: 25px;  
    min-width: 100%;
    font-family: 'League Script', cursive;
    font-weight: 300;
    text-transform: lowercase;
    /* letter-spacing: 2px; */

   
    animation-duration: 3s;
    animation-name: slidein;
    
}
@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
    opacity: 100%; 
  }

  to {
    margin-bottom: 0%;
    width: 100%;
    opacity: 0%;
  }
}



nav{
    min-height: 12vh;
}

main {
    flex: 1 0 auto;
  }

.first{
    margin-top: 40px;
}
.statement{
    margin-top: 0px;
    font-size: 15px;
}
#letsSee{
    background-color:black;
}
#projectsHeader{
    /* background-color: black;
    color: white; */
    font-family: 'League Script', cursive;
    color: black;
   
}

.card-title{
    font-size: 10px;
}
.cardText{
    font-size: 15px;
}
.linkToPlay{
    color:#ad1457;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}
#gitHub, #linkedIn, #email{
    padding: 0px 10px;
}
i.material-icons{
    color: #f8bbd0;
}

footer{
    min-height: 10vh;
   
}
/* html, body {
    margin: 0;
    padding: 0;
  } */

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 100%;
      margin: 100px auto;
      margin-top: 20px;
  }

  .slick-slide {
    margin: 0px 20px;
    
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
  }
  
  .slick-active {
    opacity: 1;
  }

  .slick-current {
    opacity: 1;
  }

